@import url('https://fonts.googleapis.com/css?family=Muli:400,600');


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 20px;
  color: inherit;
}
#main{
      flex: 1;
      display: flex; 
      width: 100%;
      min-height: 100vh;
      background: #f5f5f5; /* Light gray background */
      padding: 20px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow-x: hidden;
    }
.footer{
        color: hsl(0, 0%, 7%);
        text-align: center;
        position: relative;
        bottom: 0;
        flex-shrink: 0;
        display: flex;
        background: #0230127a;
        box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.5s linear;
        width: 100%;
        padding: 5px 0;
        align-items: center;
       
      }
      .footer .copyright {
        margin: 0 0 8px; 
      }
      
      #footer .socials a:hover {
        background: #f53333;
      }
    
      #header {
        background: #fff; /* White background for the header */
        padding: 10px 0 0 0; /* Add some padding */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
      }