@import url('https://fonts.googleapis.com/css?family=Muli:400,600');

body {
    color: #171616;
    background: #fafafa;
    font: 16px/1.6 "Muli", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    height: 100vh;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
 
  font-weight: 400;
  margin: 0 0 20px;
  color: inherit;
}
#main{
      background: white;
      position: relative;
      top: 40px;
      left: 0px;
      display: flex; 
      width: 100%;
      max-height: 1000vh;

    }
    
      .footer {
        color: #131313;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: #024a1b;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.5s linear;
  width: 100%;
  height: 15px;
  padding: 8px;
      
      }
      .footer .copyright {
        margin: 0 0 8px;
       
      }
      
      #footer .socials a:hover {
        background: #f53333;
      }
    
    