/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .home{background: red;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .home {background: green;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .home .nav-menu.comparsion.navbar.nav-menu-items.menu-bars{background: blue;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .home {background: orange;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
   .home {background: #30336d;}
  }
  /** Add hover effect to table rows 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button-36 .dropzone .file-input .file-previews .file-upload-container.upload-section {font-size: small;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .button-36 .dropzone .file-input .file-previews .file-upload-container.upload-section {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .button-36 .dropzone .file-input .file-previews .file-upload-container.upload-section {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .button-36 .dropzone .file-input .file-previews .file-upload-container.upload-section {background: rgb(53, 37, 7);}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .button-36 .dropzone .file-input .file-previews .file-upload-container.upload-section {background: pink;}
}