/* FileUpload.css */
.file-upload-container {
    display: flex;
    align-items: flex-start; /* To align the sections at the top */
    margin-top: 10px;
    height: 90vh;
    justify-content: space-between; 
  }
  .upload-section {
    /* Make both sections take equal space
    display: flex;
    margin: 0 10px;
    */
    align-items: center;
    font-size: medium;
    
  }
.dropzone {
    border: 3px dashed #cccccc;
    padding: 30px 30px 30px 30px;
    text-align: center;
    cursor: pointer;
    
    
    
  }
  
  .dropzone p {
    margin: 0px;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .file-input input {
    display: none;
  }
  
  .file-previews {
    display: flex;
    flex-wrap: wrap;
    margin: 10;

  }
  
  .file-previews img {
    max-width: 400px;
    max-height: 500px;
  
  }
  
  .title{
    font-size: large;
    margin: 0px; /* Adjust the margin to create spacing between the title and upload sections */
    text-align: center; /* Center the title */
    font-weight: bold
  }
 
/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}


table {
  width: 100px; /* Set the table width to 100% of its container */
  border-collapse: collapse; /* Collapse table borders */
  font-family: Arial, sans-serif; /* Specify font-family */
  font-size: medium;


}
.tablee{

align-items: center;
justify-content: center;

}

/* Style table headers (th) */
th {
  background-color: #ed1d1d; /* Background color for header cells */
  text-align: left; /* Align text to the left */
  padding: 3px; /* Add padding to header cells */
}

/* Style alternating table rows */


/* Style table cells (td) */
td {
  table-layout: fixed;
  padding: 2px; /* Add padding to table cells */
  border-bottom: 1px solid #208a4f; /* Add a bottom border to separate cells */
}






